#wpadminbar>#wp-toolbar>.ab-top-menu>#wp-admin-bar-my-sites>.ab-icon:before,
.cranfont-logo:before  {
	content: '\e926' !important;
}

#wpadminbar #wp-admin-bar-my-sites>.ab-icon, #wpadminbar #wp-admin-bar-my-sites>.ab-item:before {
	font-family:'cranfont' !important;
}

#wpadminbar #wp-admin-bar-my-sites>.ab-item:before {
	content: "\e926";
}

.cranfont-2x {
	font-size:2em;
}
